# Backend (Maven/Spring Boot)
backend/target/
backend/.mvn/

# Frontend (Next.js)
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.env*.local

# IDE
.idea/
*.iml
.vscode/
.idea
*.iws
*.ipr


# OS
.DS_Store
Thumbs.db