server:
  port: 8080

spring:
  profiles:
    active: "dev" # dev, prod

  devtools:
    restart:
      enabled: true
      poll-interval: 10s      # check every 10 seconds
      quiet-period: 1s         # wait 5 seconds after last change before restart


jwt:
  secret: ${JWT_SECRET:370fc2ad32927ff329d2807b020a92cbde3d349b44c19304d3c8e8b107365042}
  expiration: 14400000  # 4 hours



